:root{
    background-color: red;
}

body {
    background: linear-gradient(red , green , blue );
}
@keyframes animat {
    0%{
        background: burlywood;
        transform: translate(2px,2px);
    }
    45%{
        background: red;
        transform: translate(10px,10px);
    }
    100%{
        background: blueviolet;
        transform: translate(20px,20px);
    }
}
div{
    border: 1px solid red;
    box-sizing: border-box;
    margin: auto 2rem;
    transform: rotate(1.4);
    animation: animat;
    transition: 2s all;
    position: fixed;
    flex-direction: column;
    flex-wrap: nowrap;

}